.register{
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
   border-radius: 6px;
    position: relative;
    height: 60vh;
    margin-top: 10%;
    align-items: center;
 
    box-shadow: 6px 4px rgb(26, 0, 31) ;
    justify-content: space-between;


    

}

label{
    font-size: larger;
    font-weight: bold;
    margin-bottom: -20px;
    
}
input{
    width: 70%;
    border-radius: 7px;
    border: none;
    gap:5px;
    padding: 5px 0px 5px 5px;
    
}

.main{
    display: flex;
    flex-direction: column;
    width: 98vw;
    align-items: center;
  
    height: 80vh;
    position: relative;
    background-color: rgb(229, 196, 245);
    margin: auto;
    margin-top: 20px;
    
    
    
    

    
}
