.nav_div{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 10px;
border: 2px solid black;
    width: 100%;
   background-color: black;
 
}
.nav_div .active{
    padding-bottom: 2px;
    border-bottom: 2px orangered;
}
.list{
    display: flex;
    justify-content:space-between;
    gap:20px;
    list-style: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;


}

.link{
    margin-right: 30px;
}
.nav_div h2{
    color: tomato;
    font-weight: bolder;
}
input[type="text"] {
    width: 200px; /* Adjust the width as needed */
    padding: 5px 10px; /* Adjust the padding as needed */
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
  }